name: Project Assignment CI Pipeline on Quarkus

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:   # allows manual trigger from GitHub UI

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Set timezone to UTC
        run: echo "TZ=UTC" >> $GITHUB_ENV
      - name: Make mvnw excutable Permission
        run: chmod +x ./mnvw

      - name: Build and run tests
        run: ./mvnw -B clean verify -Duser.timezone=UTC

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: quarkus-app
          path: target/
